.pipeline {
  position: relative;
  width: 100%;
  height: 450px;
  border-bottom: 1px solid var(--border);
  overflow: hidden;
}

.canvas {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .pipeline {
    height: 350px;
  }
}
